* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.8vw;
}

h4 {
    font-size: 1.7vw;
}

p,
a {
    font-size: 1.6vw;
}

.container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.header {
    background-color: slategrey;
    color: white;
    text-align: center;
    padding: 20px;
}


/* responsive elements */

.left {
    float: left;
    width: 20%;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    float: left;
    width: 20%;
    background-color: darkgray;
    color: white;
    padding: 15px;
    margin-top: 10px;
}


/* nav style*/

.nav a {
    background-color: darkgray;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
}

.bottom {
    background-color: slategrey;
    color: white;
    clear: both;
    padding: 2px;
    margin: 0 auto;
}


/* footer style */

.footer {
    background-color: darkgray;
    color: white;
    padding: 10px;
    clear: both;
}

footer {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 620px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}

@media (min-width:621px) and (max-width:1000px) {
    .main {
        width: 80%;
    }
    .right {
        width: 100%;
    }
}


/* hamburger menu */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}