* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.8vw;
}

h4 {
    font-size: 1.7vw;
}

p,
a {
    font-size: 1.6vw;
}

.container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.header {
    background-color: slategrey;
    color: white;
    text-align: center;
    padding: 20px;
}


/* responsive elements */

.left {
    float: left;
    width: 20%;
}

.main {
    float: left;
    width: 60%;
    padding: 0 20px;
}

.right {
    float: left;
    width: 20%;
    background-color: darkgray;
    color: white;
    padding: 15px;
    margin-top: 10px;
}


/* nav style*/

.nav a {
    background-color: darkgray;
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding: 8px;
}

.bottom {
    background-color: slategrey;
    color: white;
    clear: both;
    padding: 2px;
    margin: 0 auto;
}


/* footer style */

.footer {
    background-color: darkgray;
    color: white;
    padding: 10px;
    clear: both;
}

footer {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 620px) {
    .left,
    .main,
    .right {
        width: 100%;
    }
}

@media (min-width:621px) and (max-width:1000px) {
    .main {
        width: 80%;
    }
    .right {
        width: 100%;
    }
}