body {
    background-color: #ffeeed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffeeed;
    text-decoration: none;
}


/*
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffe2e0;
} */

h1 {
    font-size: 50px;
    text-align: center;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/* footer {
    text-align: center;
    padding: 3px;
    background: #ffe2e0;
    color: black;
} */

footer {
    align-items: center;
    background-color: #ffe2e0;
    bottom: 0;
    color: #666666;
    display: flex;
    font-size: 5em;
    height: 100px;
    justify-content: center;
    /* position: fixed; */
    text-transform: uppercase;
    width: 100%;
    z-index: 1;
}

.title {
    float: left;
    width: 30%;
    padding-left: 40px;
}


/* home.html */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3.5vw;
    color: black;
}

h3 {
    font-size: 1.8vw;
}

h4 {
    font-size: 1.7vw;
    color: black;
}

p,
a {
    font-size: 1.6vw;
    color: black;
}

header {
    background-color: black;
    color: white;
    height: 120px;
    position: sticky;
    top: -50px;
    background-color: #ffeeed;
}

.header-inner {
    float: left;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffeeed;
}

.left-title {
    float: left;
    width: 30%;
    padding-left: 40px;
    background-color: #ffeeed;
    color: black;
    padding-top: 10px;
}

nav {
    float: left;
    text-align: right;
    width: 70%;
    padding: 33px 40px;
    background-color: #ffeeed;
    padding-top: 50px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color: #ffeeed;
    color: black;
}


/* nav a:hover {
    font-weight: bold;
} */

a:link {
    text-decoration: none;
}

li:hover {
    font-weight: bold;
}

.container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.banner {
    background-color: #ffeeed;
    color: white;
    text-align: center;
    padding: 20px;
}


/* w3schools */

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}


/* responsive nav */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #ffeeed;
    background: ffeeed;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    height: 50px;
    padding: 1em;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>li {
    margin: 0 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: black;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        text-decoration: none;
    }
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #ffe2e0;
    }
    .menu>li:not(:last-child) {
        border-bottom: 1px solid #ffe2e0;
    }
}


/* contact form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ffe2e0;
    color: #ff4769;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
}


/* go to top button */

#myBtn {
    /* display: contents; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: #ffe2e0;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}