.container {
    position: relative;
    text-align: center;
    color: navy;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}

a:link {
    color: darkslateblue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

a:visited {
    color: mediumslateblue;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
}

a:hover {
    color: hotpink;
}

.button {
    background-color: lightblue;
}


/* w3schools */