body {
    background-color: #ffeeed;
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffeeed;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffe2e0;
} */

h1 {
    font-size: 50px;
    text-align: center;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 3px;
    background: #ffe2e0;
    color: black;
}

.title {
    float: left;
    width: 30%;
    padding-left: 40px;
}


/* home.html */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5vw;
}

h2 {
    font-size: 3.5vw;
    color: black;
}

h3 {
    font-size: 1.8vw;
}

h4 {
    font-size: 1.7vw;
    color: black;
}

p,
a {
    font-size: 1.6vw;
    color: black;
}

header {
    background-color: black;
    color: white;
    height: 120px;
    position: sticky;
    top: -50px;
    background-color: #ffeeed;
}

.header-inner {
    float: left;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #ffeeed;
}

.left-title {
    float: left;
    width: 30%;
    padding-left: 40px;
    background-color: #ffeeed;
    color: black;
}

nav {
    float: left;
    text-align: right;
    width: 70%;
    padding: 33px 40px;
    background-color: #ffeeed;
    padding-top: 40px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color: #ffeeed;
    color: black;
}

nav a:hover {
    font-weight: bold;
}

.container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.banner {
    background-color: #ffeeed;
    color: white;
    text-align: center;
    padding: 20px;
}


/* glow */

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}